@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #000;
    overflow: hidden;
  }
  
  .room-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .player {
    width: 78px;
    height: 78px;
    position: absolute;
    image-rendering: pixelated;
    background-image: url('sprites/Idle.png');
    transform: translate(-50%, -50%)
  }

  .window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d4c4b0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    animation: fadeIn 0.4s ease-in-out;
  }
  .window-card {
    background: none;
    border: none;
    padding: 0;
    position: relative;
  }

  .corner {
    position: absolute;
    width: 10px;
    height: 10px;
    border-color: #c8a96e;
    border-style: solid;
  }


  .room {
    width: 800px;
    height: 500px;
    background-image: url('/room.png');
    background-size: 100% 100%;
    image-rendering: pixelated;
    position: relative;
    user-select: none;
  }

  .hud {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }
  
  .hud-name {
    font-family: 'Permanent Marker', cursive;
    color: #847e87;
    font-size: 1.5rem;
    line-height: 1.4;
    user-select: none;
  }
  
  .hud-hearts {
    display: flex;
    gap: 6px;
  }
  
  .hud-hearts img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
  }

  .about-content {
    background: #f5f0e0;
    padding: 2rem;
    width: 100%;
    min-height: 300px;
    border: 2px solid #d4c9a0;
  }
  
  .about-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.8rem;
    color: #1a1a1a;
    margin-bottom: 1rem;
  }
  
  .about-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 0.9rem;
    color: #2a2a2a;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .about-wrapper {
    position: relative;
    width: 650px;
  }
  
  .about-main {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }
  .about-name-note {
    position: absolute;
    top: 120px;
    left: -30px;
    width: 250px;
    image-rendering: pixelated;
    transform: rotate(-5deg);
  }

  .about-intern-note {
    position: absolute;
    bottom: 40px;
    right: -40px;
    width: 200px;
    image-rendering: pixelated;
    transform: rotate(8deg);
  }
  .about-neuralSeek-logo{
    position: absolute;
    bottom: 120px;
    right: 40px;
    width: 40px;
    image-rendering: pixelated;
    transform: rotate(10deg);
  }
  .about-esc {
    position: absolute;
    top: 10px;
    left: -35px;
    width: 85px;
    image-rendering: pixelated;
    cursor: pointer;
    transform: rotate(-10deg)
  }

  .about-bio {
    position: absolute;
    top: 130px;
    left: 250px;
    width: 310px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.0rem;
    color: #2a1a0e;
    line-height: 1.6;
  }

  .about-education {
    position: absolute;
    top: 400px;
    left: 80px;
    width: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2rem;
    color: #2a1a0e;
  }
  
  .about-education h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .edu-entry {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 0.6rem;
  }

  .about-experience {
    position: absolute;
    top: 560px;
    left: 80px;
    width: 500px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2rem;
    color: #2a1a0e;
  }
  
  .about-experience h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .exp-entry {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1rem;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }